@model IEnumerable<ERegistration>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-5 m-3">
    <div class="row">
        <div class="col-8">
            <h1>Staff Registration</h1>
        </div>
         
    </div>
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Password</th>
            <th>
                Photo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.UserName</td>
                <td>@obj.Password</td>
                @foreach (var item in Model)
                {
                <td>
                    <img src="~/Images/@Html.DisplayFor(modelItem=>item.FileName)" height="50" width="120" />
                </td>}
                <td>@obj.Phone</td>
                <td><a asp-controller="ERegistration" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-success">Edit</a></td>
                <td><a asp-controller="ERegistration" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a></td>

            </tr>

        }
    </tbody>
</table>
